<!doctype html>
<html lang="en">

<head>
    <title>
        <%= pageTitle %>
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel ="stylesheet" href="/css/main.css">
    <link rel ="stylesheet" href="/css/global.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Logo</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Teams
                </a>
                <div class="dropdown-menu">
                        <% if (teams.length > 0) { %>
                            <% for (i=0; i< teams.length; i++) { %>
                                <a class="dropdown-item" href="/team/<%= [i] %>"><%=teams[i].teamname%></a>  
                                <% } %>
                        <% } %>
                </div>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Players
                    </a>
                    <div class="dropdown-menu">
                            <% if (players.length > 0) { %>
                                <% for (i=0; i< players.length; i++) { %>
                                    <a class="dropdown-item" href="/player/<%= [i] %>"><%=players[i].name%></a>  
                                    <% } %>
                            <% } %>
                    </div>
            </li>

            <!-- Dropdown -->
        </ul>
    </nav>
    <div id = "homemain" class = "d-flex align-items-center">
        <div class = "container row w-50 h-75 d-flex justify-content-center ml-5">
            <div class = "col d-flex justify-content-center align-items-center font-weight-bold text-white" id = "homeMainText">Where </br> amazing</br> happens.</div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>